## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [44]:
# Your code here
import random
#With random.sample I can get a list of random numbers that are not repeated and are within a range of numbers. 
sample_list_1 = random.sample(range(0, 100), 80)
print(sample_list_1)

[85, 77, 68, 80, 9, 61, 42, 70, 55, 3, 94, 82, 16, 4, 35, 15, 62, 93, 29, 58, 60, 53, 69, 47, 48, 95, 46, 63, 8, 40, 89, 83, 65, 38, 22, 88, 31, 86, 39, 76, 11, 71, 45, 57, 79, 75, 1, 33, 14, 66, 24, 97, 12, 91, 28, 17, 87, 7, 21, 92, 41, 37, 43, 64, 6, 84, 56, 72, 18, 67, 96, 34, 98, 59, 27, 26, 51, 10, 90, 52]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [48]:
# Your code here
set1 = sample_list_1
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [76]:
# Your code here
import random
for number in range(80):
    sample_list_1 = (random.randint(0,100))
    print(sample_list_1)

93
92
56
51
61
61
26
81
31
3
30
72
55
70
99
63
30
76
49
9
4
88
21
42
38
40
46
83
48
56
9
85
77
38
35
0
55
94
32
30
83
14
27
50
41
72
7
5
83
66
45
30
99
35
94
88
86
68
91
37
100
85
83
66
27
93
86
8
20
21
51
40
65
80
56
22
11
97
6
60

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [94]:
# Your code here
set1 = [5, 3, 5, 6, 4]
set2 = [9, 8, 7, 3, 5]
set3 = (set(set1).difference(set2))
print(set3)

{4, 6}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [97]:
# Your code here
set1 = [5, 3, 5, 6, 4]
set2 = [9, 8, 7, 3, 5]
set4 = (set(set2).difference(set1))
print(set4)

{7, 8, 9}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [132]:
# Your code here
set1 = [5, 3, 5, 6, 4]
set2 = [9, 8, 7, 3, 5]
set5 = (set(set1) & set(set2))
print(set5)

{3, 5}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here
#I don't understand what you mean by the relationship.

#### Create an empty set called `set6`.

In [155]:
# Your code here
set6 = []

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [156]:
# Your code here
#It doesn't work for me, and I don't really know why it is, 
#I found this link that explains it quite well, but I still can't make it work
#####https://beginnersbook.com/2019/04/python-set-update-method/###
set6.update[set3,set5]
print(set6)

AttributeError: 'list' object has no attribute 'update'

#### Check if `set1` and `set6` are equal.

In [128]:
# Your code here
set1 = {5, 3, 5, 6, 4}
set2 = {9, 8, 7, 3, 5}
if set1==set2:
         print("Hooray, the lists are equal!")
else :
         print("Ouuuuch! the lists are different!")

Ouuuuch! the lists are different!

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [135]:
#Your code here
#Not works because set2 y set3 are lists, not sets, but I want 
#you to explain to me in class where I had the previous mistake.

set1.issubset(set2)
set1.issubset(set3)

AttributeError: 'list' object has no attribute 'issubset'

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [153]:
# Your code here
set1.union(set3, set4, set5)
set1.union(set1, set2)

{3, 4, 5, 6, 7, 8, 9}

#### Using the `pop` method, remove the first element from `set1`.

In [137]:
# Your code here
x = set1.pop()
print(set1)

[5, 3, 5, 6]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [147]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
#I added a 9 at the end of the set1 because the original set1 doesn't contain any 
#number that is in list_to_remove and therefore it wasn't going to be affected.
set1 = {5, 3, 5, 6, 4, 9}
res = [i for i in list_to_remove if i not in set1]
print(str(res))

[1, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]